*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tablet) {
        font-size:  56.25%;
    }

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(desktop) {
        font-size: 65%;
    }
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    background-color: $color-white-smoke;
    color: $color-gray-dark-1;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}