@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

// COLORS
$color-primary: #099268;
$color-primary-light: #12B181;
$color-primary-dark: #05583e;

$color-gray-light-1: #CED4DA;
$color-gray-light-2: #868E96;
$color-gray-dark-1: #707070;

$color-white: #fff;
$color-white-smoke: #F5F5F5;
$color-black: #000;

// BORDER RADIUS
$border-radius-small: 3px;

// FONTS
$font-primary: 'Rubik', sans-serif;
