.delete-card-section,
.modify-card-section {
    @include flex(row, center, stretch);
    max-height: 65vh;
    overflow-y: auto;
    padding: 2rem;

    &__list {
        @include fullSize();
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__card {
        @include flex(row, space-between, center);
        background-color: $color-primary-light;
        color: $color-white;
        padding: 1rem;
        border-radius: $border-radius-small;
        transition: $quick-animation;
        cursor: pointer;

        &:hover {
            background-color: $color-primary;
        }

        &-question {
            font-size: 2rem;
        }

        &-button {
            padding: 1rem;
            background-color: transparent;
            color: inherit;
            font-size: 2.4rem;
            border: none;
            cursor: pointer;
        }
    }
}

.delete-card-confirmation {
    @include absolute(10%, 50%);
    transform: translateX(-50%);
    background-color: $color-primary;
    padding: 2.4rem 4rem;
    border-radius: $border-radius-small;
    z-index: 20;
    transition: $quick-animation;

    @include respond(phone) {
        top: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        padding: 4rem 1.8rem;
    }

    &__hidden {
        top: -50%;
        opacity: 0;
    }

    &__text {
        font-size: 2rem;
        color: $color-white;
        margin-bottom: 2rem;

    }

    &__question {
        font-size: 2rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 2rem;
    }

    &__buttons {
        @include flex(row, flex-end, center);
        gap: 2rem;
    }
}