.display-cards-section {
    @include flex(column, center, center);
    
    &__cards-container {
        @include fullSize();
        @include flex(column, center, center);
        margin-bottom: 1.6rem;
        position: relative;
        padding: $card-container-padding;
    }

    &__nav {
        @include flex(row, center, center);
        gap: 1.6rem;
        margin-bottom: 2.6rem;

        &-button {
            font-size: 2.4rem;
            background-color: transparent;
            color: $color-gray-dark-1;
            border: none;
            @include roundElement(3.4rem);
            cursor: pointer;
            transition: $quick-animation;

            &:hover {
                background-color: $color-primary-light;
                color: $color-white;
            }
        }

        &-info {
            font-size: 2rem;
        }
    }

}
.card {
    @include absoluteCenter();
    @include fullSize();
    max-width: 62rem;
    max-height: 40rem;
    border-radius: $border-radius-small;
    perspective: 1000px;
    transition: $card-move-animation;

    @include respond(phone) {
            max-height: 55rem;
            max-width: 90%;
        }

    &.is-flipped {
        .card__wrapper {
            animation: rotate $card-transition-time linear both;
        }
    }

    &__wrapper {
        @include fullSize();
        position: relative;
        transform-style: preserve-3d;
        animation: rotateinverse $card-transition-time linear both;
        cursor: pointer;
    }

    &__front, 
    &__back {
        @include absoluteAllSpace();
        @include flex(row, center, center);
        backface-visibility: hidden;
        text-align: center;
        background-color: $color-white;
        padding: $card-padding;
        border-radius: $border-radius-small;
        box-shadow: $card-box-shadow;

        &.is-active {
            position: static;
        }
    }

    &__front {
        &-text {
            font-size: 3.2rem;
            line-height: 1.5;
            @include respond(phone) {
                    font-size: 2.6rem;
                }
        }
    }

    &__back {
        transform: rotateX(180deg);

        &-text {
            font-size: 2rem;
            line-height: 1.5;
            @include respond(small) {
                    font-size: 1.8rem;
                }
        }
    }

    &__icon {
        @include absolute(1.6rem, null, 1.6rem, null);
        font-size: 2.8rem;
        opacity: 0.5;
        transition: $quick-animation;
    }

    &--right,
    &--left {
        position: absolute;
        opacity: 0;
        transition: $card-move-animation;
        z-index: -10;
    }

    &--right {
        left: 120%;
    }

    &--left {
        left: -120%;
    }

    &:hover .card__icon {
        opacity: 1;
        color: $color-primary-light;
    }

}

