.display-card-section {
    @include flex(column, center, center);
    

    &__card-container {
        width: 100%;
        height: 100%;
        @include flex(column, center, center);
        margin-bottom: 1.6rem;
        position: relative;
        padding: 1rem;
    }

    &__nav {
        @include flex(row, center, center);
        gap: 1.6rem;
        margin-bottom: 2.6rem;

        &-button {
            font-size: 2.4rem;
            background-color: transparent;
            color: $color-gray-dark-1;
            border: none;
            border-radius: 50%;
            width: 3.4rem;
            height: 3.4rem;
            cursor: pointer;
            transition: $quick-animation;
        }

        &-button:hover {
            background-color: $color-primary;
            color: $color-white;
            border-radius: 50%;
        }

        &-info {
            font-size: 2rem;
        }
    }

}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 62rem;
    height: 100%;
    max-height: 40rem;
    border-radius: $border-radius-small;
    perspective: 1000px;
    transition: $card-move-animation;

    @include respond(phone) {
            max-height: 55rem;
            max-width: 90%;
        }

    &.is-flipped {
        .card__wrapper {
            animation: rotate $card-transition-time linear both;
        }
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        animation: rotateinverse $card-transition-time linear both;
        cursor: pointer;
    }

    &__front, 
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        @include flex(row, center, center);
        text-align: center;
        background-color: $color-white;
        padding: 2rem;
        border-radius: $border-radius-small;
        box-shadow: 0 0 4rem rgba(112, 112, 112, 0.2);;

        &.is-active {
            position: static;
        }
    }

    &__front {
        &-text {
            font-size: 3.2rem;
            line-height: 1.5;
            @include respond(phone) {
                    font-size: 2.6rem;
                }
        }
    }

    &__back {
        transform: rotateX(180deg);

        &-text {
            font-size: 2rem;
            line-height: 1.5;
            @include respond(small) {
                    font-size: 1.8rem;
                }
        }
    }

    &__icon {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        font-size: 2.8rem;
        transition: $quick-animation;

        &:hover {
            color: $color-primary;
        }
    }

    &-right {
        position: absolute;
        left: 120%;
        opacity: 0;
        transition: $card-move-animation;
        z-index: -10;
    }

    &-left {
        position: absolute;
        left: -120%;
        opacity: 0;
        transition: $card-move-animation;
        z-index: -10;
    }

}

