.modal-with-errors {
    @include flex(column, center, center);
    @include absolute(10%, 50%);
    transform: translateX(-50%);
    background-color: $color-primary;
    padding: 2.4rem 4rem;
    border-radius: $border-radius-small;
    z-index: 20;
    gap: 2rem;
    transition: $quick-animation;

    @include respond(phone) {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__text {
        font-size: 2rem;
        color: $color-white;
        margin-bottom: 2rem;
    }
}